* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0 60px 0 60px;
  background-color: aliceblue;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container,
.result-container {
  margin-top: 60px;
}

#sorteador {
  display: flex;
  flex-direction: column;
}

.result-container,
.result-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#result span {
  font-size: 2em;
  color: blue;
  padding: 20px;
}
