@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Source+Sans+Pro:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  margin: 0 60px 0 60px;
  background-color: #e8ecf1;
  font-family: 'Source Sans Pro', sans-serif;
  color: #2e3131;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 20px 0;
  color: #67809f;
}

.header h1 {
  font-family: 'Gruppo', cursive;
  font-size: 2.5em;
}

@media only screen and (max-width: 500px) {
  body {
    margin: 0 20px 0 20px;
  }

  .header {
    padding: 10px 0 10px 0;
  }

  .header h1 {
    font-size: 2em;
  }
}

.icon-list {
  display: flex;
  gap: 20px;
}

.icon-list a {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  transition: 0.5s linear;
}

.icon-list a:hover {
  opacity: 1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 1.25em;
}

.container,
.result-container {
  margin-top: 60px;
}

#sorteador {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#sorteador input {
  height: 30px;
  width: 120px;
  font-size: 1.25em;
  padding: 15px;
  text-align: center;
  margin: 10px auto;
}

#sorteador button {
  height: 40px;
  width: 150px;
  margin: 15px auto;
  background: #67809f;
  border: none;
  outline: none;
}

#sorteador button:hover {
  cursor: pointer;
}

.result-container,
.result-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 700;
  color: #2e3131;
}

#result {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#result span {
  font-size: 2em;
  color: #67809f;
  padding: 20px;
}
